body {
  font-family: 'monospace';
  background-color: #2A3140;
  line-height: normal;
}

h1 {
  font-size: 48px;
  color: #6B7363;
}

h3 {
  font-size: 24px;
  color: #FFFFFF;
}

p {
  color: #D9D8C7;
}

i {
  color: #6B7363;
}

li {
  float: left;
  margin: 8px;
}

a {
  text-decoration: none;
  color: #D93240;
}

.backHome {
  font-size: 24px;
  position: fixed;
  top: 50px;
  left: 350px;
}

.clear {
  clear: both;
}

.container {
  max-width: 960px;
  margin: 130px auto;
}

.content-left {
  display: inline-block;
  float: left;
  width: 60%;
  padding-top: 200px;
}

.content-right {
  display: inline-block;
  float: right;
  width: 35%;
}

.content-left h1 {
  text-align: right;
  font-weight: 600;
}

.content-left p {
  font-size: 20px;
  text-align: right;
  padding-top: 20px;
}

.choice {
  color: #6B7363;
  float: right;
  text-align: right;
  margin-top: 20px;
  font-size: 25px;
}

.cv {
  font-size: 42px;
  color: #6B7363;
}

.list {
  display: grid;
}

.social-media {
  position: fixed;
  bottom: 30px;
  left: 30px;
}

.title {
  text-align: center;
  color: #D93240;
}

.img {
  width: 100%;
  height: auto;
  margin: 15px 5px;
}

/* Responsive */

@@media screen and (max-width:480px) {
  .content-right {
    display: block;
  }
  .content-left {
    display: block;
  }
}
